.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    background-color: #ddd;
    border: 5px solid #333;
    border-radius: 10px;
  }
  
  @media (min-width: 500px) {
    .game-board {
      grid-template-columns: repeat(3, 120px);
      grid-template-rows: repeat(3, 120px);
      gap: 10px;
    }
  }
  